@model IEnumerable<TolkesentralenLH.ViewModels.Tolking_vm>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listOppdragTolk</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kundeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oppdragID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fraspraak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tilspraak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typetolk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.andreopplysninger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oppdragsdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frakl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tilkl)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kundeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oppdragID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fraspraak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tilspraak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typetolk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.andreopplysninger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oppdragsdato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frakl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tilkl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
