@model IEnumerable<TolkesentralenLH.Models.Kunde>

@{
    ViewBag.Title = "ListeKunde";
}

<h2>ListeKunde</h2>

<p>
    @Html.ActionLink("Create New", "Registrer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regDato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kundeNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poststed.postNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poststed.postSted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etternavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regDato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poststed.postNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poststed.postSted)
        </td><td>
    @Html.DisplayFor(modelItem => item.kundeNr)
</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.persId }) |
            @Html.ActionLink("Details", "Details", new { id=item.persId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.persId })
        </td>
    </tr>
}

</table>
