@model IEnumerable<TolkesentralenLH.ViewModels.Kunde_VM>

@{
    ViewBag.Title = "ListeKunde";
}

<h2>ListeKunde</h2>

<p>
    @Html.ActionLink("Create New", "Registrer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.persId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tlf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poststed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godkjent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kontaktperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefax)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.fakturaadresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.persId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etternavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tlf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poststed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poststed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godkjent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kontaktperson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefax)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.fakturaadresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
