@model IEnumerable<TolkesentralenLH.Models.Spraaak>

@{
    ViewBag.Title = "ListSpraak";
}

<h2>ListSpraak</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.navn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.spraakId }) |
            @Html.ActionLink("Details", "Details", new { id=item.spraakId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.spraakId })
        </td>
    </tr>
}

</table>
