@model MVC_plenum_2.Models.Kunde
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Adresse</th>
                <th>Postnr</th>
                <th>Poststed</th>
            </tr>
            <tr>
                <td>@Model.fornavn</td>
                <td>@Model.etternavn</td>
                <td>@Model.adresse</td>
                <td>@Model.postnr</td>
                <td>@Model.poststed</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <a href="@Url.Action("Endre", "Kunde", new { id = @Model.id })" class="btn btn-success ">Endre</a>
            <a href="@Url.Action("Detaljer", "Kunde", new { id = @Model.id })" class="btn btn-primary ">Detalj</a>
            <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp"
                data-navn="@Model.fornavn @Model.etternavn @Model.adresse @Model.postnr @Model.poststed"
                data-id="@Model.id"data-toggle="modal" data-sletteModal="true">Slett</a>
        </div>
    </div>
</div>

